# Node modules
node_modules/

# Build output
dist/
out-tsc/

# Angular CLI files
.angular/

# Environment files (opcional, caso não queira subir configs)
src/environments/

# IDE/editor config files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp

# Compiled JavaScript
*.js
*.js.map

# TypeScript cache
*.tscache

# Misc
coverage/
